.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  width: max-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.App-header {
  background-color: #c6c6c6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.strava-exception {
  background-color: lightcoral;
}

.App-link {
  color: #61dafb;
}

.table {
  margin-left: auto;
  margin-right: auto;
  border: solid 1px black;
}

.table-cell {
  padding: 10px;
  border: solid 1px gray;
}

.table-cell-not-valid {
  padding: 10px;
  border: solid 1px gray;
  background: orangered !important;
}

.table-cell input {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  width: 40px;
}

.table-cell.speed input {
  width: 80px;
}

.table-cell.distance input {
  width: 60px;
}

.table-cell-not-valid input {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  width: 40px;
}

.table-cell-not-valid.speed input {
  width: 80px;
}

.table-cell-not-valid.distance input {
  width: 60px;
}

.table-header {
  background: #c6c6c6;
  color: black;
  font-weight: bold;
  margin: 0 auto;
  display: table;
}

.table-header-div {
  display: table-cell;
}

.delete-cell {
  cursor: pointer;
  font-size: large;
  padding: 10px 0 10px 0;
  opacity: 0;
}

.popover-body {
  padding: 0;
}

.popover-arrow {
  left: 10px !important;
}

.table .notes textarea {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  resize: vertical;
  font-size: xx-small;
  width: 310px;
  vertical-align: middle;
}

.table .title textarea {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  resize: vertical;
  font-size: small;
  width: 200px;
  vertical-align: middle;
}

.table-filter {
  height: 45px;
}

.table-filter div {
  display: flex;
  padding: 15px 0;
}

.table-filter input {
  width: 40px;
  height: 25px;
}

.table-row-Ride {
  background: rgba(50, 205, 50, 0.75);
}

.table-row-Run {
  background: rgba(255, 255, 0, 0.75);
}

.table-row-AlpineSki, .table-row-BackcountrySki, .table-row-Hike, .table-row-Walk, .table-row-WeightTraining, .table-row-Workout {
  background: rgba(255, 140, 0, 0.75);
}

.table-row-Swim {
  background: rgba(0, 191, 255, 0.75);
}

.table-row-week {
  background: rgba(76, 0, 0, 0.75);
  height: 44px;
  color: white;
}

.table-row-clicked {
  border-color: blue;
  border-width: 2px;
  box-shadow: inset 0 0 0 200px rgb(0 150 255 / 50%)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-spinner-div {
  padding: 300px 0;
  text-align: center;
}
